{% extends 'admin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <h5>Book Appointment</h5>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{appointment.description|as_crispy_field}}
                    {{appointment.doctorId|as_crispy_field}}
                    {{appointment.patientId|as_crispy_field}}
                </div>
            </div>
            <input type="submit" value="submit" class="btn btn-primary">
        </form>
    </div>

    {% endblock %}
</body>

</html>