{% extends 'doctor_base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <h5>Discharge patient</h5>
        <table class="table ">
            <tr>
                <th>Patient Name</th>
                <th>Address</th>
                <th>Mobile</th>
                <th>Symptoms</th>
                <th>Admit Date</th>
                <th>Release Date</th>
            </tr>
            {% for p in dischargePatient%}
            <tr>
                <td>{{p.patientName}}</td>
                <td>{{p.address}}</td>
                <td>{{p.mobile}}</td>
                <td>{{p.symptom}}</td>
                <td>{{p.admitDate}}</td>
                <td>{{p.releaseDate}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endblock %}
</body>

</html>