{% extends 'doctor_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        {{appointment.patientId|as_crispy_field}}
        {{appointment.description|as_crispy_field}}
        <input type="submit" value="submit">
    </form>
    {% endblock %}
</body>

</html>