{% extends 'base.html' %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {% block content %}
  <div class="container">
    <div class="approval_wait">
      <h1>Hello {{request.user.first_name}}</h1>
      <p>Your Account is not approved till now <br><br>Our Team is checking your profile <br><br> Soon your account will
        be confirmed !!!</p>
      <hr class="my-4">
      <p>Check Later</p>
      <p class="lead">
        <a class="btn btn-info" href="/logout" role="button">Logout For Now</a>
      </p>
    </div>

  </div>

  {% endblock %}
</body>

</html>