{% extends 'patient_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <h5>Book Appointment</h5>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">{{appointmentForm.description|as_crispy_field}}</div>
                <div class="col-sm-6">{{ appointmentForm.doctorId|as_crispy_field}}</div>
            </div>

            <input type="submit" class="btn btn-info" value="submit">

        </form>
    </div>

    {% if message %}
    <script>
        var a = "{{message}}";
        alert(a);
    </script>

    {% endif %}
    {% endblock %}
</body>

</html>